/* You can override this file with your own styles */
h1, h2, h3, h4, h5, h6 {
	color: #f23900;
	border: none;
}
#bodyColumn h1,
#bodyColumn h2,
#bodyColumn h3,
#bodyColumn h4,
#bodyColumn h5 {
	background-color: #FFF;
}

hr::before {
    border-color: #005ac6;
    border-radius: 20px;
    border-style: solid;
    border-width: 0 0 1px;
    content: "";
    display: block;
    height: 30px;
    margin-top: -31px;
}
hr::after {
    background: none repeat scroll 0 0 white;
    color: #dc5500;
    content: "★";
    display: inline-block;
    font-size: 1.5em;
    padding: 0 0.25em;
    position: relative;
    top: -0.7em;
}
hr {
    border-color: #008aff;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px 0 0;
    height: 30px;
    text-align: center;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #f5f5f5 -moz-use-text-color #ffffff;
    border-image: none;
    border-left: 0 none;
    border-right: 0 none;
    border-style: solid none;
    border-width: 1px 0;
    margin: 20px 0;
}
#leftColumn {
	background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}

#breadcrumbs {
  color: #FFF;
  background-color: #E41E00;
  background-image: -moz-linear-gradient(top, #C51A00, #FE2A00);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#C51A00), to(#FE2A00));
  background-image: -webkit-linear-gradient(top, #C51A00, #FE2A00);
  background-image: -o-linear-gradient(top, #C51A00, #FE2A00);
  background-image: linear-gradient(to bottom, #C51A00, #FE2A00);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff862e5e', endColorstr='#ff772953', GradientType=0);
  border-color: RGBA(0,0,0,0.5);
  padding: 7px 10px;
}

div#leftColumn div#navcolumn ul li *,
body, td, select, input, li,p {
  font-family: tahoma;
  font-size: 16px;
  line-height: 1.3em;
}

#navcolumn h5 {
	font-size: 17px;
}
