/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#boton-warning-emprefacil:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
#boton-info-emprefacil:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
#boton-error-emprefacil:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#boton-emprefacil:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
#boton-blue-emprefacil:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
#boton-red-emprefacil:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
#boton-yellow-emprefacil:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
#boton-emprefacil {
    
    -fx-background-color:
         linear-gradient(#88aa00, #42AB00),
        radial-gradient(center 50% -40%, radius 200%, #a8d200 45%, #88aa00 50%);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

#boton-red-emprefacil {
    
    -fx-background-color:
         linear-gradient(#ff0000, #BB2D61),
        radial-gradient(center 50% -40%, radius 200%, #ff5c5c 45%, #ff0000 50%);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

#boton-blue-emprefacil {
    
    -fx-background-color:
         linear-gradient(#259292, #2cb8ba),
        radial-gradient(center 50% -40%, radius 200%, #02C7CB 45%, #1daaac 50%);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}
#boton-yellow-emprefacil {
    
    -fx-background-color:
         linear-gradient(#F9FD19, #C0C401),
        radial-gradient(center 50% -40%, radius 200%, #EEE427 45%, #CDCD02 50%);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

#boton-error-emprefacil {
    
    /*-fx-background-color:
         linear-gradient(#ff0000, #BB2D61),
        radial-gradient(center 50% -40%, radius 200%, #ff5c5c 45%, #ff0000 50%);*/
    -fx-border-style: solid;
    -fx-border-color: #FF0000;
    -fx-background-color: #FF0000;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 3, 0.0 , 0 , 1 );
    -fx-text-fill: #ffffff;
    -fx-font-weight: normal;
    -fx-font-size: 14px;
}

#boton-info-emprefacil {
    
    /*-fx-background-color:
         linear-gradient(#259292, #2cb8ba),
        radial-gradient(center 50% -40%, radius 200%, #02C7CB 45%, #1daaac 50%);*/
    -fx-border-style: solid;
    -fx-border-color: #1DAAAC;
    -fx-background-color: #1DAAAC;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 3, 0.0 , 0 , 1 );
    -fx-text-fill: #ffffff;
    -fx-font-weight: normal;
    -fx-font-size: 14px;
}
#boton-warning-emprefacil {
    
    /*-fx-background-color:
         linear-gradient(#F9FD19, #C0C401),
        radial-gradient(center 50% -40%, radius 200%, #EEE427 45%, #CDCD02 50%);*/
    -fx-border-style: solid;
    -fx-border-color: #F2DC12;
    -fx-background-color: #F2DC12;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 3, 0.0 , 0 , 1 );
    -fx-text-fill: #ffffff;
    -fx-font-weight: normal;
    -fx-font-size: 14px;
}

/*=====================*/
#comboBox-emprefacil {
	-fx-base: rgb(132, 145, 47);
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}

#label-emprefacil {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 3, 0.0 , 0 , 1 );
}

#text-field-emprefacil {
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
	-fx-focus-color: transparent;
	-fx-text-box-border: transparent;
}

#border-pane-emprefacil {
	-fx-border-style: solid;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}

#pane-emprefacil {
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}

#table-view-emprefacil {
	-fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

#table-view-emprefacil .column-header-background {
    -fx-background-color: transparent;
}

#table-view-emprefacil .column-header, #table-view-emprefacil .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: 
        transparent 
        transparent 
        derive(-fx-base, 80%)  
        transparent;
    -fx-border-insets: 0 10 1 0;
}

#table-view-emprefacil .column-header. label {
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

#table-view-emprefacil:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

#image-view-emprefacil {
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
	-fx-padding: 10;
	-fx-background-color: firebrick;
	-fx-background-radius: 5;
}


